<div class="container ">
  <div class="row pt-8">
    <%= form_tag pets_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a pet" %>
      <%= submit_tag "search a pet", class: "btn btn-primary submit" %>
      <% end %>
  </div>
</div>

<div class="container">
<h1 style="center">Browse Pets</h1>
    <div class="cards">
      <% @pets.each do |pet| %>
        <div class="row ">
          <div><h3><%= link_to pet.name, pet_path(pet) %></h3>
            <div class="card-pet" >
              <% if pet.photo.attached? %>
                <%= cl_image_tag pet.photo.key, height: 100, width: 100, crop: :pad %>
              <% else %>
                <%= img_src="https://unsplash.com/photos/JmJDyFUSYWI" %>
              <% end %>
                <div class="card-product-infos">
                    <div class="card-pet-details">
                      <div class="card-pet-text">
                          <p>Hi! I'm <%= link_to pet.name, pet_path(pet) %></p>
                          <p>My personality is: <%= pet.description %></p>
                            <div class="card-pet-infos">
                              <p>Lets hang for £<%= pet.price %> a day!</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <% end %>
    </div>
</div>
