<h1>Browse Pets!</h1>
<br>
<div class="container">
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1611611158876-41699b77a059?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80)">
    Doggo
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1555685812-4b943f1cb0eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)">
    Kit Kats
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1596138252452-463802fb8fc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)">
    Dinos
  </div>
</div>



</div>
<div class="container">
  <% @pet.each do |pet| %>
 <div class="cards">
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1611611158876-41699b77a059?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80)">
    </div>
  <div class="card-product-infos">
    <h2> <%= link_to pet.name, pets_path(pet) %></h2>
    <h2>This lovely pet is a <%= pet.name %></h2>
    <h2>This Pet is <%= pet.description %></h2>
    <h2>Spend some time with <%= pet.name %> the price is <%= pet.price %> £ 25 </h2>
    </div>
<% end %>
</div>
</div>

<div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['pk.eyJ1IjoidGxhLXZlbGxlIiwiYSI6ImNsMXBjdXRvcTBjMjYza25xeWRhcTFkZTcifQ.65vcEL19cNLRmp7CRm21uw'] %>"></div>


<%# FRONT PAGE %>
