<div class="containair ">
  <div class="row   justify-content-center ">
    <div class="card-pet-show" >
                      <% if @pet.photo.attached? %>
                        <%= cl_image_tag @pet.photo.key, height: 180, width: 180, crop: :pad %>
                        <% else %>
                        <%= img_src="https://unsplash.com/photos/JmJDyFUSYWI" %>
                      <% end %>
                      <div class= "card-pet-infoshow"> </div>
                        <div class="card-product-infos">

                          <div class="card-pet-details">
                            <div class="card-pet-text">
                                <p>This lovely pet is  <%= @pet.name %></p>
                                <p>This Pet is  <%= @pet.description %> </p>
                                  <div class="card-pet-infos">
                                    <p>Spend some time with <%= @pet.name %>.</p>
                                  </div>
                                  <h3><%= link_to "Book #{@pet.name}",    new_pet_booking_path(@pet, @booking) %></h3>

                                  <p><%= link_to "Back home", pets_path %></p>
                            </div>
                          </div>
                        </div>
                      </div>
    </div>
  </div>
</div>
